{% extends 'layout.njk' %}

{% set pageId = "page-generate" %}

{% block title %}
  <title>Editar</title>
{% endblock title %}

{% block styles %}
  <link rel="stylesheet" href="/styles/generate.css">
  <link rel="stylesheet" href="/styles/messages.css">
{% endblock styles %}

{% block content %}
  {% include 'parts/header.njk' %}

  <form action="/generate" method="POST">

    <h1>Inserir dados</h1>

    <fieldset>
      <legend>
        <h2>Dados do funcionário</h2>
      </legend>

      <div class="field-group">
        <div class="field">
          <label for="name">Nome</label>
          <input 
            type="text" 
            name="name" 
            required="required"
          >
        </div>
      </div>

      <div class="field-group second">
        <div class="field" id="job">
          <label for="job">Cargo</label>
          <input 
            type="text" 
            name="job" 
            placeholder="Ex: Gerente - WebTrip" 
            required="required"
          >
        </div>
        <div class="field">
          <label for="phone">Telefone (fixo)</label>
          <input 
            type="text" 
            name="phone" 
            required="required"
            maxlength="14"
            onkeydown="Mask.apply(this, 'phone')"
            placeholder="(12) 1234-5678"
          >
        </div>
      </div>

      <div class="field-group">
        <div class="field" id="branch">
          <label for="branch">Ramal</label>
          <input 
            type="text"
            name="branch" 
            placeholder="Ex: 321" 
            required="required"
            maxlength="3"
          >
        </div>
        <div class="field">
          <label for="email">Email</label>
          <input 
            type="email"
            name="email"
            required="required"
            placeholder="example@example.com"
          >
        </div>
      </div>
    </fieldset>

    <button type="submit">Gerar assinatura</button>
  </form>

  <header class="outside-title">
    <h3>Código da assinatura:</h3>
    <h3 class="copy-success" id="success-element">Texto copiado com sucesso!</h3>
  </header>

  <div class="copy-area">
    <input
      type="text"
      name="search"
      readonly=“true”
      value="{{signature}}"
      id="signature-input"
      placeholder='Preencha os campos acima e clique em "Gerar assinatura"'
    >
    <button onclick="Copy.copyThis()">
      <img src="/assets/copy.svg" alt="Copiar" href="" id="signature-button">
      <p>Copiar</p>
    </button>
  </div>
{% endblock %}

{% block scripts %}
  <script src="scripts/page-fields.js"></script>
{% endblock scripts %}