{% extends 'layout.njk' %}

{% set pageId = "page-home" %}

{% block styles %}
  <link rel="stylesheet" href="/styles/home.css">
  <link rel="stylesheet" href="/styles/modal.css">
{% endblock styles %}

{% block header %}
{% endblock header %}

{% block content %}
  <header class="home-header">
    <h1>Signature maker</h1>
  </header>

  <main>
    <h2>Aqui você pode atualizar uma nova assinatura para o funcionário que você quiser!</h2>

    <div class="webtrip">
      <h4>A assinatura é exclusiva para a Agência de Viagens Corporativas WebTrip</h4>
    </div>

    <img src="assets/webtrip.png" alt="" srcset="">

    <p>Clique no botão abaixo e preencha os campos necessários</p>
  
    <a href="/generate">
      <strong>Editar assinatura</strong>
    </a>

  </main>
{% endblock %}

