@media (max-width: 900px) {
  #page-home {
    background-position: 70vw;
  }

  #page-home .content {
    align-items: center;
    text-align: center;
  }

  #page-home header a {
    position: absolute;
    bottom: 48px;

    left: 50%;
    transform: translateX(-50%);
  }

  #page-home mian {
    align-items: center;
  }

  #page-search-results .cards {
    grid-template-columns: 1fr;
  }

  #page-search-results .cards img {
    height: 250px;
  }

  #page-create-point .field-group {
    flex-direction: column;
  }

  #page-create-point .field-group .field + .field {
    margin-left: 0;
  }
}

@media (min-widith: 1700px) {
  #page-home {
    background-position: 40vw;
  }
}

@media (max-height: 760px) {
  #page-home {
    background-position-y: 200px;
  }
}

@media (max-width: 648px) {
  #page-create-point fieldset .items-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  #page-create-point form legend {
    margin-bottom: 40px;
  
    display: grid;
    width: 100%;
  }

  form legend span {
    margin-top: 8px;
    left: 0;
  }
}