@media (min-widith: 1700px) {
  #page-home {
    background-position: 40vw;
  }
}

@media (max-height: 760px) {
  #page-home {
    background-position-y: 200px;
  }
}

@media (max-width: 600px) {
  #page-generate .field-group {
    flex-direction: column;
  }

  #page-generate form {
    max-width: 100%;
    box-sizing: border-box;
  }

  #page-generate form .field-group.second #job {
    width: 100%;
  }
  
  #page-generate form .field-group.third #branch {
    width: 100%;
  }

  #page-generate .field-group .field + .field {
    margin-left: 0;
  }

  #page-generate form legend {
    margin-bottom: 40px;
  
    display: grid;
    width: 100%;
  }

  form legend span {
    margin-top: 8px;
    left: 0;
  }
}